<div id="content">
	<div id="header_tickets">
	    <ul id="top_links">
	    	<div id="hits">
		        <li><a href="#">О нас</a></li>
		        <li><a href="#">Вопросы и Ответы</a></li>
		        <li><a href="cabinet">Кабинет</a></li>
		     </div>
		    <div id="user_panel">
		        <li>Здравствуйте,  <%= link_to(session[:current_user].first_name , {:controller => 'cabinet',:action => 'index'})%></li>
		        <li><%= link_to("Выход", {:action => 'logout'})%></li>
		    </div>
		 </ul> 	          
	</div>


<div  id="save_search_dialog" style="display:none">
    <input type="text" maxlength="30"/>
</div>



	<div id="search_panel">
		<ul>
			<li id="search" class="tab active">
				<a href="#!/search" data-toggle="tab" data-content="search">Поиск</a>
			</li>

			<li id="orders" class="tab">
				<a href="#!/orders" data-toggle="tab" data-content="signup">Заказы</a>
			</li>
			<li id="history" class="tab">
				<a href="#!/history" data-toggle="tab" data-content="signup">История</a>
			</li>
		</ul>

		<div class="block_container">

			      <div id="search_box">
                        
      			  </div>

                    <div id="history_box">
                        
                    </div>

                    <div id="orders_box">
                        
                    </div>

		</div>
	</div>

</div>
<div>
        
<script type="text/template" id="search_block">
	<h3>Поисковый шаблон!!</h3>
	<div id="app"></div>
</script>


<script type="text/template" id="order_block">
	<h3>шаблон заказов</h3>
</script>

<script type="text/template" id="history_block">
	<h3>шаблон истории</h3>
</script>



<!-- Test templates !-->

  <script type="text/template" id="StationView">
                <input class="input" type="text" value="{{title}}" />
                <button class="del">X</button>
        </script>
        <script type="text/template" id="DateView">
                <input class="input" type="text" value="{{date}}" />
                <button class="del">X</button>    
        </script>
        <script type="text/template" id="StationsView">
                <button class="add">Добавить станцию</button>
                <span></span>
        </script>
        <script type="text/template" id="DatesView">
                <button class="add">&nbsp;&nbsp;&nbsp;&nbsp;Добавить дату&nbsp;&nbsp;&nbsp;</button>
                <span></span>
        </script>
        <script type="text/template" id="TripView">
                <div class="parametrsView"></div>
                <div class="stationsFromView toggleIN"></div>
                <div class="stationsToView toggleIN"></div>
                <div class="datesView toggleIN"></div>
                <button class="del toggleIN" >&nbsp;&nbsp;Удалить поездку&nbsp;</button><br />
                
                <hr>

        </script>
        <script type="text/template" id="TravelView">
                <div class="Travel"></div>
                <button class="addTrip">Добавить поездку</button>
                <button class="toggleTrip">Свернуть</button>
                
        </script>
        <script type="text/template" id="AppView">
                <div class="TravelView"></div>
                <button class="search">Загрузка мест</button>
                <button class="research">Перепроверить места</button><button id="save_template_button" style="display:none;">Сохранить путешествие</button>
                <hr>
                <div class="Result"></div><br />
                
        </script>
        <script type="text/template" id="Progress">
                <div class="progressBar"></div>
        </script>
        <script type="text/template" id="ParametrsView">
                <span>
                        <span>Мест:<input class="changing" id="number" type="text" size="3"/></span>
                        <span id="buttonset">
                        <input class="changing" type="checkbox" id="l" >Л</input>
                        <input class="changing" type="checkbox" id="k" >К</input>
                        <input class="changing" type="checkbox" id="p" />П</input>
                        <input class="changing" type="checkbox" id="s1" />С1</input>
                        <input class="changing" type="checkbox" id="s2" />С2</input>
                        </span>
                        <input class="changing" type="checkbox" id="down" />Только нижние</input>
                        <input class="changing" type="checkbox" id="one" />В одном купе</input>
                        <input class="changing" type="checkbox" id="side" />Не боковые</input>
                        Время от <input class="changing" type="text" id="from" size="3"/> 
                        до <input class="changing" type="text" id="till" size="3"/>
                </span>
        </script>
        <script type="text/template" id="TravelResultView">
                <div></div>
        </script>
        <script type="text/template" id="SimpleTripsResultView">
                <div></div>
                <hr>
        </script>
        <script type="text/template" id="SimpleTripResultView">
                <div class="caption">
                    <button class="toggle">{{date_start}} {{station_from}} {{station_till}} {{goodPlaces}} мест</button>
                </div>
                <div class="accordion"></div>
        </script>
        <script type="text/template" id="TrainHeader">
                <a href="#">
                        <p>Поезд №{{num}} {{station_from}}-{{station_till}} Отправление:{{date_from}} Прибытие:{{date_till}}</p>
                        <p>В наличии {{goodPlaces}} подходящих мест</p>
                </a>
        </script>

        <script type="text/template" id="KView">
                <table >
                        <tr>
                                <td id="p2"></td><td>&nbsp</td><td id="p4"></td><td id="p6"></td><td>&nbsp</td><td id="p8"></td><td id="p10"></td><td>&nbsp</td><td id="p12"></td><td id="p14"></td><td>&nbsp</td><td id="p16"></td><td id="p18"></td><td>&nbsp</td><td id="p20"></td><td id="p22"></td><td>&nbsp</td><td id="p24"></td><td id="p26"></td><td>&nbsp</td><td id="p28"></td><td id="p30"></td><td>&nbsp</td><td id="p32"></td><td id="p34"></td><td>&nbsp</td><td id="p36"></td><td id="p38"></td><td>&nbsp</td><td id="p40"></td>
                        </tr>
                        <tr>
                                <td id="p1"></td><td>&nbsp</td><td id="p3"></td><td id="p5"></td><td>&nbsp</td><td id="p7"></td><td id="p9"></td><td>&nbsp</td><td id="p11"></td><td id="p13"></td><td>&nbsp</td><td id="p15"></td><td id="p17"></td><td>&nbsp</td><td id="p19"></td><td id="p21"></td><td>&nbsp</td><td id="p23"></td><td id="p25"></td><td>&nbsp</td><td id="p27"></td><td id="p29"></td><td>&nbsp</td><td id="p31"></td><td id="p33"></td><td>&nbsp</td><td id="p35"></td><td id="p37"></td><td>&nbsp</td><td id="p39"></td>
                        </tr>



                </table>
        </script>
        <script type="text/template" id="PView">
                <table>
                        <tr>
                                <td id="p2"></td><td>&nbsp</td><td id="p4"></td><td id="p6"></td><td>&nbsp</td><td id="p8"></td><td id="p10"></td><td>&nbsp</td><td id="p12"></td><td id="p14"></td><td>&nbsp</td><td id="p16"></td><td id="p18"></td><td>&nbsp</td><td id="p20"></td><td id="p22"></td><td>&nbsp</td><td id="p24"></td><td id="p26"></td><td>&nbsp</td><td id="p28"></td><td id="p30"></td><td>&nbsp</td><td id="p32"></td><td id="p34"></td><td>&nbsp</td><td id="p36">
                        </tr>
                        <tr>
                                <td id="p1"></td><td>&nbsp</td><td id="p3"></td><td id="p5"></td><td>&nbsp</td><td id="p7"></td><td id="p9"></td><td>&nbsp</td><td id="p11"></td><td id="p13"></td><td>&nbsp</td><td id="p15"></td><td id="p17"></td><td>&nbsp</td><td id="p19"></td><td id="p21"></td><td>&nbsp</td><td id="p23"></td><td id="p25"></td><td>&nbsp</td><td id="p27"></td><td id="p29"></td><td>&nbsp</td><td id="p31"></td><td id="p33"></td><td>&nbsp</td><td id="p35">
                        </tr>
                        <tr>
                                <td colspan="3" id="p54"><td colspan="3" id="p52"><td colspan="3" id="p50"><td colspan="3" id="p48"><td colspan="3" id="p46"><td colspan="3" id="p44"><td colspan="3" id="p42"><td colspan="3" id="p40"><td colspan="3" id="p38">
                        </tr>
                        <tr>
                                <td colspan="3" id="p53"><td colspan="3" id="p51"><td colspan="3" id="p49"><td colspan="3" id="p47"><td colspan="3" id="p45"><td colspan="3" id="p43"><td colspan="3" id="p41"><td colspan="3" id="p39"><td colspan="3" id="p37">
                        </tr>



                </table>
        </script>
        <script type="text/template" id="LView">
                <table>
                        <tr>
                                <td id="p1"></td><td>&nbsp</td><td id="p2"></td><td id="p3"></td><td>&nbsp</td><td id="p4"></td><td id="p5"></td><td>&nbsp</td><td id="p6"></td><td id="p7"></td><td>&nbsp</td><td id="p8"></td><td id="p9"></td><td>&nbsp</td><td id="p10"></td><td id="p11"></td><td>&nbsp</td><td id="p12"></td><td id="p13"></td><td>&nbsp</td><td id="p14"></td><td id="p15"></td><td>&nbsp</td><td id="p16"></td><td id="p17"></td><td>&nbsp</td><td id="p18"><td id="p19"></td><td>&nbsp</td><td id="p20">
                        </tr>
                </table>
        </script>
      