
<div id="content">
	<div id="header">
	    <ul id="top_links">
	    	<div id="hits">
		        <li><a href="/about.php">О нас</a></li>
		        <li><a href="/faq.php">Вопросы и Ответы</a></li>
		        <li><a href="/news.php">Новости</a></li>
		     </div>
		    <div id="user_panel">
		        <li>Здравствуйте,  <%= link_to(session[:current_user].first_name , {:action => 'logout'})%></li>
		        <li><%= link_to("Выход", {:action => 'logout'})%></li>
		    </div>
		 </ul> 	          
	</div>


	<div id="search_panel">
		<ul>
			<li id="search" class="tab active">
				<a href="#!/search" data-toggle="tab" data-content="search">Поиск</a>
			</li>
			<li id="templates" class="tab">
				<a href="#!/templates" data-toggle="tab" data-content="signup">Шаблоны</a>
			</li>
			<li id="orders" class="tab">
				<a href="#!/orders" data-toggle="tab" data-content="signup">Заказы</a>
			</li>
			<li id="history" class="tab">
				<a href="#!/history" data-toggle="tab" data-content="signup">История</a>
			</li>
		</ul>

		<div class="block_container">
			Контейнер для block 
			      <div id="main_block">
      			  </div>
		</div>
	</div>

</div>
<div>
        
<script type="text/template" id="search_block">
	<h3>Поисковый шаблон!!</h3>
	<div id="app"></div>
</script>

<script type="text/template" id="template_block">
	<h3>Вкладка Шаблонов</h3>
</script>

<script type="text/template" id="order_block">
	<h3>шаблон заказов</h3>
</script>

<script type="text/template" id="history_block">
	<h3>шаблон истории</h3>
</script>

<!-- Test templates !-->

<script type="text/template" id="StationView">
                <input class="input" type="text" ) />
                <button class="del">X</button>
        </script>
        <script type="text/template" id="DateView">
                <input class="input" type="text"  />
                <button class="del">X</button>    
        </script>
        <script type="text/template" id="StationsView">
                <button class="add">Добавить станцию</button>
                <span></span>
        </script>
        <script type="text/template" id="DatesView">
                <button class="add">Добавить дату</button>
                <span></span>
        </script>
        <script type="text/template" id="TripView">
                <div class="stationsFromView"></div>
                <div class="stationsToView"></div>
                <div class="datesView"></div>
                <button class="del">Удалить поездку</button>
                <hr>
        </script>
        <script type="text/template" id="TravelView">
                <div class="Travel"></div>
                <button class="addTrip">Добавить поездку</button>
                
        </script>
        <script type="text/template" id="AppView">
                <div class="TravelView"></div>
                <button class="search">Поиск мест</button>
                <button class="console">Консоль</button>
                <div class="Result"></div>
        </script>
        <script type="text/template" id="Progress">
                <div class="progressBar"></div>
        </script>